/*MAIN*/
* {
    font-family: 'Montserrat', sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
    background-color: #B0C4DE63;
}

a {
    color: black;
}

a:active {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top {
    margin-top: 20px;
}

.dev a {
    margin-right: 5px;
}

/* HEADER */
* {margin: 0; padding: 0; box-sizing: border-box;}
.spacer {width: 100%; height: 100px;}

nav {
	width: 100%; 
	/* background-color: #243468; */
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(8, 0, 255));
	display: flex;
	justify-content: space-between;
}

.logo-box{
	width: 130px;
	margin-left: 50px;
	margin-top: 24px;
	margin-bottom: 14px;
	/* height: 70px; */
}

nav .nav-bar {
	padding: 20px; 
	display: flex; 
}

nav .nav-bar .nav-bar_item {
	list-style-type: none;
	padding: 26px 20px;
}

nav .nav-bar .dropdown {
	position: relative;
}

nav .nav-bar .dropdown:after {
	content: "";
	position: absolute;
	right: 0;
	top: 30px;
	width: 7px;
	height: 7px;
	cursor: pointer;
	transform: rotate(-45deg);
	border-left: 2px solid #fff;
	border-bottom: 2px solid #fff;
	transition: 0.2s ease-in-out;
}

nav .nav-bar .dropdown:hover:after{
	transform: rotate(135deg);
}

nav .nav-bar .dropdown .project {
	position: absolute;
	transform: translateX(-20px) translateY(5px);
	width: 135px;
	background-color: #294DB9F0;
	padding: 23px;
	border-radius: 10px;
	height: 0px;
	overflow: hidden;
	visibility: hidden;
	transition: 0.2s ease-in-out;
}

nav .nav-bar .dropdown:hover .project{
	height: 535px;	
	visibility: visible;
}

nav .nav-bar .dropdown .project .drop-item {
	list-style-type: none;
	margin-bottom: 10px;
}

nav .nav-bar .nav-bar_item a {
	position: relative;
	display; block; 
	padding-bottom: 5px;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}

nav .nav-bar .nav-bar_item a:after {
	content: "";
	position: absolute;
	width: 0%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #fbff00;
	transition: 0.1s ease-in-out;
}

nav .nav-bar .nav-bar_item a:hover:after {
	width: 100%;
}

.img-cur {
    cursor: url("../images/pokebola.png"), auto;
 }

/*POKEDEX*/
.pokedex {
    background-color: #69D9855C;
    box-shadow: 0 5px #7EAC99;
    border: solid 3px #2e683a14;
    border-radius: 10px;
    width: 300px;
    height: auto;
    padding: 20px 20px 10px 20px;
    margin: 2% auto;
    box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

.info-display {
    height: 40px;
    margin: 10px auto;    
}

.id-display {
    width: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    border: solid 2px;
    border-radius: 15px;
    padding: 10px 0 10px 0;
    float: left;
}

.id-display:focus {
    outline: none;
}

.name-display {
    user-select: none;
    background-color: white;
    text-align: center;
    text-transform: uppercase;
    text-decoration-style: solid;
    border: solid 2px;
    border-radius: 15px;
    width: 195px;
    padding: 10px 0 10px 0;
    font-size: 15px;
    float: left;
}

.pokemon-display {
    user-select: none;
    background-color: white;
    border: solid 2px;
    border-radius: 15px;
    width: 250px;
    height: 250px;
    margin:  0 auto;
}

.pokemon {
    user-select: none;
    width: 250px;
    height: 250px;
    margin:  0 auto;
    position: absolute;
}

.type {
    width: 245px;
    text-align: right;
    user-select: none;
    padding: 5px 0 0 0; 
    z-index: 1;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    cursor: pointer;
}

.button {
    text-align: center;
    width: 100px;
    background-color: #56A3E3BF;
    font-weight: bold;
    user-select: none;
    border: solid 2px;
    border-radius: 5px;
    padding: 5px 3px 10px 3px;
    float: left;
    margin: 0 4px auto;
    box-shadow: 0 4px #485FA4;
}

.button:hover {
    background: #B4AD46;
    box-shadow: 0 5px #fbff00;
}

.button:active {
    background: #B4AD46;
    box-shadow: 0 5px #fbff00;
    transform: translateY(3px);
}

.button-add {
    text-align: center;
    width: 100px;
    background-color: #9DE356BF;
    font-weight: bold;
    user-select: none;
    border: solid 2px;
    border-radius: 5px;
    padding: 5px 3px 10px 3px;
    float: left;
    margin: 0 4px auto;
    box-shadow: 0 5px #5A8232BF;
}

.button-add:hover {
    background: #E39F56BF;
    box-shadow: 0 4px #A46F48;
}

.button-add:active {
    background: #E39F56BF;
    box-shadow: 0 4px #A46F48;
    transform: translateY(3px);
}

.button-like {
    text-align: center;
    font-weight: bold;
    user-select: none;
    padding: 5px 0px 0px 3px;
    float: left;
    margin: 0 4px auto;
}

.button-like:active {
    text-align: center;
    font-weight: bold;
    user-select: none;
    padding: 5px 0px 0px 3px;
    float: left;
    margin: 0 4px auto;
}

.api {
    border:  1px;
    border-radius: 60%;
    width: 200px;
    margin: 15px auto 15px auto;
    padding: 0 0 5px 0;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    box-shadow: 0 5px rgb(70, 89, 107);
}

.techs {
    margin-bottom: 10px;
}

.link-hub {
    height: 35px;
    opacity: 65%;
}